/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --red: #bf3636;
    --orange: #d04936;
    --yellow: #ffcc14;
    --green: #5a5a23;
    --blue: #303464;
    --pink: #fe4b7a;
    --purple: #741a60;
    --brown: #40130e;
    --light-gray: #eaeaea;
    --med-gray: #555;
    --dark-gray: #222;
    --white: #fff;
    --black: #000;

    --box-shadow-sm: -3px 3px 6px var(--med-gray);
    --box-shadow-lg: -6px 6px 10px var(--med-gray);
    --container-shadow: 5px 5px 5px #aaa;

    font-size: 1.1rem;
    color: var(--dark-gray);
}

body{
    background-color: var(--light-gray);
    font-family: Raleway, sans-serif;
    line-height: 1.35;
}

header, footer{
    width: calc(90% - 1em);
    max-width: 700px;
    margin: 2em auto;
    padding: 1em;
    background-color: var(--white);
    box-shadow: var(--container-shadow);
    text-align: center;
}

header p{
    text-align: center;
}

main{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 2em auto;
    font-size: 1.1rem;
    /*   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em; */
}

h1{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0 0.25em 0;
}

h1, h2{
    grid-column: 1/-1;
    text-align: center;
}

h2{
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.25em;
}

section{
    display: block;
    width: calc(90% - 1em);
    max-width: 700px;
    min-height: 300px;
    margin: 2em auto;
    padding: 1em;
    background-color: var(--white);
    box-shadow: var(--container-shadow);
    /*   re-add this grid code if needed:
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
*/
}

ul{
    padding-left: 2rem;
    list-style-type: disc;
}

li{
    margin-bottom: 8px;
}

code{
    display: block;
    font-size: 1em;
    font-family: monospace;
    padding: 1rem;
    background-color: var(--light-gray);
    width: fit-content;
    max-width: calc(100% - 2rem);
    overflow: scroll;
    margin: 0 auto;
}

p{
    padding: 1em; 
    font-size: 1.2em;
}

section p{
    font-size: 1em;
}

.hidden{
    visibility: hidden;
}

form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1.1rem;
}

form span{
    display: block;
    color: var(--red);
    height: 2rem;
}

button, input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: var(--blue);
    border: none;
    outline: none;
    color: var(--white);
    padding: 0.75em;
    font-family: Raleway, sans-serif;
    box-shadow: var(--box-shadow-lg);
}

button:hover, input[type="submit"]:hover{
    box-shadow: var(--box-shadow-sm);
}

input, label, select, textarea{
    display: block;
    width: calc(100% - 2em);
    margin: 0.25em auto;
    font-family: Raleway, sans-serif;
    font-size: 1.15rem;
}

input, select{
    height: 2em;
}

input[type="submit"]{
    height: auto;
    margin-top: 1em;
}

.output{
    font-size: 1.15em; 
    text-align: center;
}

.red{
    background-color: var(--red);
    color: white;
}

.orange{
    background-color: var(--orange);
    color: white;
}

.yellow{
    background-color: var(--yellow);
    color: var(--dark-gray);
}

.green{
    background-color: var(--green);
    color: white;
}

.blue{
    background-color: var(--blue);
    color: white;
}

.pink{
    background-color: var(--pink);
    color: var(--dark-gray);
}

.purple{
    background-color: var(--purple);
    color: white;
}

.gray{
    background-color: var(--med-gray);
    color: white;
}

.brown{
    background-color: var(--brown);
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.white{
    background-color: white;
    color: var(--dark-gray);
}